<%= form_for(@flat) do |f| %>
  <% if @flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
      <% @flat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_area :Address %>
  </div>
  <div class="field">
    <%= f.label :RentalDate %><br>
    <%= f.date_select :RentalDate %>
  </div>
  <div class="field">
    <%= f.label :Occupied %><br>
    <%= f.check_box :Occupied %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
